body {
	font-family: 'Courier New';
	background-color: #000000;
	overflow: hidden;
}

p {
	color: #00FF00;
    margin: auto;
    width: 50%;
    padding-bottom: 20px;
}

h1 {
	color: #00FF00;
    margin: auto;
    width: 50%;
}

a {
	color: #e3ff95;
	text-decoration: none;
}

a:hover {
	color: #e3ff95;
	text-decoration: underline;
}
